aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
distro
faiss-cpu
frozenlist
gitdb
GitPython
h11
httpcore
httpx
httpx-sse
idna
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
narwhals
numpy
openai
orjson
packaging
pandas
pillow
propcache
protobuf
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pypdf
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
six
smmap
sniffio
SQLAlchemy
streamlit
streamlit-chat
tenacity
tiktoken
toml
tornado
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
yarl
zstandard